body{
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'lato' ,'Arial' , sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

iframe{
    display: block;    
    border: none;
    height: 100vh;
    margin-top: -5rem;
    width: 100%;
}

.web-content{
    padding-top: 5rem;
}

.main-nav{
    align-items: center;
    background-color: white;
    color: #2d2d2d;
    display: flex; 
    gap: 2rem;
    justify-content: start;
    padding: 1rem 10rem 1rem 10rem;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.main-nav a{
    text-decoration: none !important;
    color: inherit !important;
}

.main-nav-item:hover{
    color: #1c9282 !important;
}

.geo-x-logo{
    vertical-align: middle; 
    width: auto; 
    height: 40px; 
    max-height: 100px;
}

.header-container{
    background-image: url('/static/css/bg-index.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 1.5rem;
    padding: 5rem 10rem 3rem 10rem;
}

#PHI314-header{
    background-image: linear-gradient(0deg, rgba(36, 36, 36, 0.3), rgba(15, 15, 15, 0.3)), url('/static/images/phi314.jpg');
}

#OFANI-header{
    background-image: linear-gradient(0deg, rgba(36, 36, 36, 0.3), rgba(15, 15, 15, 0.3)), url('/static/images/ofani.jpg');
}

#tomography-header{
    background-image: linear-gradient(0deg, rgba(36, 36, 36, 0.3), rgba(15, 15, 15, 0.3)), url('/static/images/tomography.jpg');
}
.header-container h1{
    font-size: 5rem;
}

.white-container{
    padding: 2rem 10rem 1rem 10rem;
}

.white-container h1{
    margin: 0 0 1rem 0;
}

.product-container{
    display: flex;
}

#SeisMoT, #OFANI{
    margin: 2rem 2rem 2rem 10rem;
}

#PHI314, #tomography{
    margin: 2rem 10rem 2rem 2rem;
}

.product-details h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.product-details button{
    margin-top: 3rem;
}

.product-picture{
    justify-content: center;
    align-items: center;
    display: flex;
    max-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.product-picture img{
    min-width: 100%;
    min-height: 100%
}

.index-main
{
    width: 110%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.upload-header{
    padding: 2rem 0 0 0;
    text-align: center;
}

.upload-section{

    margin-top: 2%;
}

.upload-file
{
    margin-top: 1%;
    margin-bottom: 1%;
}

.file-form{
    padding: 1rem 20rem 1rem 20rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.file-form-input{
    align-self: center;
    max-width: 50%;
    border-radius: 200px;
    border: 1px solid #41b3a3;
    color: #2d2d2d;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
}

.file-form-input:focus
{
    outline: none;
}

.button{
    background-color: transparent;
    border: solid;
    border-color: #1c9282;
    border-radius: 5rem;
    color: #1c9282;
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.button:hover{
    border-color: white;
    color: white;
}

.upload-button{
    background-color: transparent;
    border: solid;
    border-color: #1c9282;
    border-radius: 5rem;
    color: #1c9282;
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

.upload-button:hover{
    background-color: #1c9282;
    color: white;
}

.uploadOR
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.uploadOR > span
{
    font-size: 15px;
    font-weight: 400;
    color: #f4f7c5;
    padding-top: 1%;
    padding-bottom: 1%;
}

.upload-link
{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}


.link-form
{
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link-form-input
{
    width: 60%;
    border: 1px solid #41b3a3;
    display: inline-block;
    padding: 4px 15px 4px 15px;
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
}

.aspects{
    background-color: #2d2d2d;
    color: white;
}

.aspects-header h1{
    font-size: 4rem;
    text-align: center;
    padding: 7rem 0 2rem 0;
}

.aspects-points{
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: space-around;
    padding: 2rem 10rem 7rem 10rem;
}

.aspects-container{
    display: grid;
    gap: 2rem;
}

.contact-container{
    padding: 2rem 10rem 2rem 10rem;
}

.result-container{
    display: grid;
    padding: 2rem 10rem 3rem 10rem;
    gap: 3rem;
}

.result-container img{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    display: flex;
}

.ofani-earthquake-result{
    display: flex;
    align-self: self-start;
}

.ofani-earthquake-result img{
    display: flex;
    align-self: self-start;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 20rem;
    display: flex;
}

.depth-magnitude-result, .omori-calculation-result{
    display: flex;
}

.depth-magnitude-result img{
    display: flex;
    align-self: self-start;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 20rem;
    display: flex;
}

.omori-calculation-result img{
    display: flex;
    align-self: self-start;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 20rem;
    display: flex;
}

.mcmc-result-inline{
    display: flex;
}

.mcmc-result img{
    display: flex;
    align-self: self-start;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 20rem;
    display: flex;
}

.final-mcmc-result img{
    display: flex;
    align-self: self-start;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-height: 20rem;
    display: flex;
}

td{
    vertical-align: top;
    padding: 0 0.5rem 0 0;
}

footer{
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
}