<!DOCTYPE html>
<html lang="eng">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/normalize.css')}}>
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/grid.css')}}>
        <link rel='stylesheet' href={{url_for('static' , filename = 'css/style.css')}}>

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
        <title>Sedimentary Rocks Classification WebApp</title>
        <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />

		<style>
			.content {
			  max-width: 500px;
			  margin: auto;
			  }
			.bg-img{
				width: 100%;
				height: 100vh;
				background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.7)),url('static/css/front.jpg');
				background-size: cover;
				background-position: center;
			}

		</style>


    </head>

    <body>

	    <div class="bg-img" style="background-image: url('/static/css/bg-index.jpg');">
            <nav>
                <ul style = "padding: 2%; display: flex; list-style-type:none;" class = "main-nav">
                    <li style="padding-right: 1%; color: white; font-size: 16pt; position: relative;"><a href="/">
        <img src="static/images/GeoX_logo.jpg" alt="Geo-X Logo" style="vertical-align: middle; width: 180px; height: 60px; margin-right: 10px;">
    </a>
</li>
                    <li style = "padding-right: 5%; color: white; font-size: 16pt; padding-top: 0.2%;"><a style="color: white;" href ="/"><b>Home</b></a></li>
                    <li style = "padding-right: 5%; color: white; font-size: 16pt; padding-top: 0.2%;"><a style="color: white;" href ="about"><b>About</b></a></li>
                    <li style = "padding-right: 5%; color: white; font-size: 16pt; padding-top: 0.2%;"><a style="color: white;" href ="/SeisMoT"><b>SeisMoT</b></a></li>
                    <li style = "padding-right: 5%; color: white; font-size: 16pt; padding-top: 0.2%;"><a style="color: white;" href ="/PHI314"><b>PHI314</b></a></li>
                    <li style = "padding-right: 5%; color: white; font-size: 16pt; padding-top: 0.2%; "><a style="color: white;" href ="/OFANI"><b>OFANI</b></a></li>
                    <li style = "padding-right: 5%; color: white; font-size: 16pt; padding-top: 0.2%; "><a style="color: white;" href ="/helps"><b>Helps</b></a></li>
                </ul>
            </nav>
                  <div style="background-color: white; margin-bottom: 5%; margin-top: 5%" id="about">
            <div style = "width : 100%; padding-top : 3%; padding-bottom : 4%; ">
                <div class = "header-content">
                    <h6 ><span class="header-content-text"><a style="color: black;"><b>About Geo-X</b></a></span></h6>
                </div>
            </div>
            <div style = "width : 100%;  padding-bottom : 3%;">
                <div class = "header-content">
                    <img src="">
                    <p style="text-align: center; color: black; font-size: 18pt"><b><i>The First Technology in Indonesia for Sustainable Exploration <br>in Everywhere for Everyone: Geo-X Pioneers Green Energy Solutions for Better Future</i></b></p>
                </div>
            </div>
            <div style = "width : 100%; padding-bottom : 3%;">
                <div class = "header-content">
                    <div class="row">
                    <img style="height: 100pt; width: auto; position: absolute; margin-left: -2%" src="/static/css/easy.png">
                    </div>
                    <div class="row">
                    <p style="margin-left: 25%; margin-top: 300%; text-align: center; color: black; font-size: 18pt"><b>Easy</b></p>
                    </div>
                </div>
            </div>
            <div style = "width : 100%; padding-bottom : 3%;">
                <div class = "header-content">
                    <div class="row">
                    <img style="height: 100pt; width: auto; position: absolute; margin-left: -1.5%" src="/static/css/accuracy.png">
                    </div>
                    <div class="row">
                    <p style="margin-left: 12%; margin-top: 165%; text-align: center; color: black; font-size: 18pt"><b>Accurate</b></p>
                    </div>
                </div>
            </div>
            <div style = "width : 100%; padding-bottom : 4%;">
                <div class = "header-content">
                    <div class="row">
                    <img style="height: 100pt; width: auto; position: absolute; margin-left: -1.5%" src="/static/css/colour.png">
                    </div>
                    <div class="row">
                    <p style="margin-left: 12%; margin-top: 165%; text-align: center; color: black; font-size: 18pt"><b>Variative</b></p>
                    </div>
                </div>
            </div>
	    </div>
        </div>
    </body>
</html>