<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/images/GeoX_icon.ico">
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/normalize.css')}}>
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/grid.css')}}>
        <link rel='stylesheet' href={{url_for('static' , filename = 'css/style.css')}}>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
        <title>SeisMoT</title>
        <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />

		<style>
			.content {
			  max-width: 500px;
			  margin: auto;
			  }
			.bg-img{
				width: 100%;
				height: 100vh;
				background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.7)),url('static/css/front.jpg');
				background-size: cover;
				background-position: center;
			}

		</style>


    </head>

    <body>
	    <nav class = "main-nav">
            <div class = "main-nav-item">
                <a href="./">
                    <img class = "geo-x-logo" src="static/images/GeoX_logo.png" alt="Geo-X Logo">
                </a>
            </div>
            <div class = "main-nav-item">
                <a href ="/about">About</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/SeisMoT">SeisMoT</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/PHI314">PHI314</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/OFANI">OFANI</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/auto-tomography">Auto-tomography</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/helps">Helps</a>
            </div>
        </nav>
        <div class="web-content">
            <iframe src="https://thingspeak.com/channels/2377672" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </body>
    <footer>
        <p>© 2024 Copyright Geo-X</p>
    </footer>
</html>