<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/images/GeoX_icon.ico">
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/normalize.css')}}>
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/grid.css')}}>
        <link rel='stylesheet' href={{url_for('static' , filename = 'css/style.css')}}>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Geo-X</title>
        <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />
    </head>

    <body>
        <nav class = "main-nav">
            <div class = "main-nav-item">
                <a href="./">
                    <img class = "geo-x-logo" src="static/images/GeoX_logo.png" alt="Geo-X Logo">
                </a>
            </div>
            <div class = "main-nav-item">
                <a href ="/about">About</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/SeisMoT">SeisMoT</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/PHI314">PHI314</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/OFANI">OFANI</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/auto-tomography">Auto-tomography</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/helps">Helps</a>
            </div>
        </nav>
        <div class="web-content">
            <header class="header-container" id="header-home">
                <h1>Geo-X</h1>
                <p>Sustainable Exploration in Everywhere</p>
                <a href="https://www.linkedin.com/company/geo-x-ind" target="_blank">
                    <button class="button"><i class="fa fa-arrow-right"></i> Follow our social media!</button>
                </a>
            </header>
            <section class="white-container">
                <h1>Our products</h1>
            </section>
            <div class="product-container">
                <div class="product-details" id="SeisMoT">
                    <h1>SeisMoT</h1>
                    Realtime IoT-based seismometer monitoring.
                    <br>
                    <a href="/SeisMoT" target="_blank">
                        <button class="upload-button"><i class="fa fa-arrow-right"></i> Learn more!</button>
                    </a>
                </div>
                <div class="product-picture">
                    <img src="/static/images/seismot.jpg">
                </div>
            </div>
            <div class="product-container">
                <div class="product-picture">
                    <img src="/static/images/phi314.jpg">
                </div>
                <div class="product-details" id="PHI314">
                    <h1>PHI314</h1>
                    Automated detection and localization of seismic event with deep learning and non-linear inversion.
                    <br>
                    <a href="/PHI314" target="_blank">
                        <button class="upload-button">Learn more! <i class="fa fa-arrow-left"></i></button>
                    </a>
                </div>
            </div>
            <div class="product-container">
                <div class="product-details" id="OFANI">
                    <h1>OFANI</h1>
                    Protocol of re-entry in underground mining after blasting or earthquake event.
                    <br>
                    <a href="/OFANI" target="_blank">
                        <button class="upload-button"><i class="fa fa-arrow-right"></i> Learn more!</button>
                    </a>
                </div>
                <div class="product-picture">
                    <img src="/static/images/ofani.jpg">
                </div>
            </div>
            <div class="product-container">
                <div class="product-picture">
                    <img src="/static/images/tomography.jpg">
                </div>
                <div class="product-details" id="tomography">
                    <h1>Auto-tomography</h1>
                    Automatic machine learning tomography of seismic data.
                    <br>
                    <a href="/auto-tomography" target="_blank">
                        <button class="upload-button">Learn more! <i class="fa fa-arrow-left"></i></button>
                    </a>
                </div>
            </div>
        </div>
        <footer>
            <p>© 2024 Copyright Geo-X</p>
        </footer>
    </body>
</html>