<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/static/images/GeoX_icon.ico">
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/normalize.css')}}>
        <link rel="stylesheet" href={{url_for('static' , filename = 'css/grid.css')}}>
        <link rel='stylesheet' href={{url_for('static' , filename = 'css/style.css')}}>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>OFANI</title>
    </head>
    <body>
        <nav class = "main-nav">
            <div class = "main-nav-item">
                <a href="./">
                    <img class = "geo-x-logo" src="static/images/GeoX_logo.png" alt="Geo-X Logo">
                </a>
            </div>
            <div class = "main-nav-item">
                <a href="javascript:history.back()"><i class="fa fa-arrow-left"></i> Go Back</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/about">About</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/SeisMoT">SeisMoT</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/PHI314">PHI314</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/OFANI">OFANI</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/auto-tomography">Auto-tomography</a>
            </div>
            <div class = "main-nav-item">
                <a href ="/helps">Helps</a>
            </div>
        </nav>

        <div class="web-content">
            <header class="header-container" id="OFANI-header">
                <h1>OFANI</h1>
                <p>Protocol of re-entry in underground mining after blasting or earthquake event.</p>
            </header>

            <div class="result-container">
                <div class="earthquake-distribution">
                    <h1>Distribution of Earthquake</h1>
                    <h3>Information of Data</h3>
                    <div class="ofani-earthquake-result">
                        <img class = "ofani-result-img" src={{url_for('static', filename = 'RESULTS_OFANI/'+ img1)}}>
                        <table>
                            <tbody>
                                <tr>
                                    <td><b>Mainshock magnitude</b></td>
                                    <td>{{ mainshock_magnitude }} Mw</td>
                                </tr>
                                <tr>
                                    <td><b>Mainshock time</b></td>
                                    <td>{{ mainshock_time }} Mw</td>
                                </tr>

                                <tr>
                                    <td><b>Minimum magnitude</b></td>
                                    <td>{{ minimum_magnitude }} Mw</td>
                                </tr>
                                <tr>
                                    <td><b>Maximum radius</b></td>
                                    <td>{{ "%0.3f"|format(maximum_radius|float) }} m</td>
                                </tr>
                                <tr>
                                    <td><b>Start time</b></td>
                                    <td>{{ start_time }}</td>
                                </tr>
                                <tr>
                                    <td><b>End time</b></td>
                                    <td>{{ end_time }}</td>
                                </tr>
                                <tr>
                                    <td><b>Events selected:</b></td>
                                    <td>{{ events_selected }}</td>
                                </tr>
                                <tr>
                                    <td><b>Re-Entry Time Average</b></td>
                                    <td>{{ "%0.3f"|format(Tmc_mean|float) }} hours</td>
                                </tr>
                                <tr>
                                    <td><b>Re-Entry Time Maximum</b></td>
                                    <td>{{ "%0.3f"|format(Tmc_max|float) }} hours</td>
                                </tr>
                                <tr>
                                    <td><b>Re-Entry Time Minimum</b></td>
                                    <td>{{ "%0.3f"|format(Tmc_min|float) }} hours</td>
                                </tr>
                                <tr>
                                    <td><b>Re-Entry Radius Average</b></td>
                                    <td>{{ "%0.3f"|format(Rseq|float) }} m</td>
                                </tr>
                                <tr>
                                    <td><b>Re-Entry Radius Maximum</b></td>
                                    <td>{{ "%0.3f"|format(Rssm|float) }} m</td>
                                </tr>
                                <tr>
                                    <td><b>Re-Entry Radius Minimum</b></td>
                                    <td>{{ "%0.3f"|format(Rmin|float) }} m</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="depth-magnitude-distribution">
                    <h1>Depth and Magnitude Distribution of Seismic Event</h1>
                    <div class="depth-magnitude-result">
                        <img class="result-img" src="{{url_for('static', filename='RESULTS_OFANI/' + img3)}}">
                        <img class="result-img" src="{{url_for('static', filename='RESULTS_OFANI/' + img4)}}">
                    </div>
                </div>

                <div class="omori-calculation">
                    <h1>Omori Calculation</h1>
                    <div class="omori-calculation-result">
                        <img class="result-img" src="{{url_for('static', filename='RESULTS_OFANI/' + img5)}}">
                        <img class="result-img" src="{{url_for('static', filename='RESULTS_OFANI/' + img6)}}">
                    </div>
                </div>

                <div class="mcmc-analysis">
                    <h1>Markov-Chain Monte Carlo Analysis</h1>
                    <div class="mcmc-result">
                        <div class="mcmc-result-inline">
                            <img class="result-img" src="{{url_for('static', filename='RESULTS_OFANI/' + img7)}}">
                            <img class="result-img" src="{{url_for('static', filename='RESULTS_OFANI/' + img8)}}">
                        </div>
                        <img class="result-img" src="{{url_for('static', filename='RESULTS_OFANI/' + img9)}}">
                    </div>
                </div>

                <div class="final-mcmc-calculation">
                    <h1>Final Markov-Chain Monte Carlo Calculation</h1>
                    <div class="final-mcmc-result">
                        <img class = "result-img" src="{{url_for('static', filename = 'RESULTS_OFANI/'+ img10)}}">
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>© 2024 Copyright Geo-X</p>
        </footer>
    </body>
</html>
